@model Expo3.WebApplication.Models.Event.EventPageModel
@{
    ViewData["Title"] = Model.Title;
}
<div class="row"><h2>@Model.Caption</h2></div>
<div class="row">@Model.Date</div>
<div class="row">@Html.Raw(Model.Html)</div>

