@model System.Collections.Generic.IReadOnlyCollection<ToDo.Dal.Models.Project>
@{
	ViewBag.Title = "Проекты";
}
<table class="table table-hover">
	@foreach (var p in Model)
	{
		<tr>
			<td>@p.Name</td>
			<td>
				@if (p.Users != null)
				{
					foreach (var u in p.Users)
					{
						<div>@(u.Nick)</div>
					}
				}
			</td>
			<td>
				<a href="@Url.Action("Index", "Task", new {p.Id})" class="modal-link">задачи</a>
			</td>
			<td>
				<a href="@Url.Action("AddTask", "Task", new {p.Id})" class="modal-link">добавить задачу</a>	
			</td>
		</tr>
	}
</table>
