@using System.Linq
@using Expo3.Model.Embed
@model Expo3.WebApplication.Areas.Org.Models.AddEventViewModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<form asp-action="Add" asp-controller="Event" method="post" class="form-horizontal">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <input class="form-control" asp-for="Name" placeholder="Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <input type="text" class="form-control" asp-for="Category" placeholder="Category"/>
            <span asp-validation-for="Category"></span>
        </div>
        <div>
            @Html.DropDownListFor(x => x.Type, Html.GetEnumSelectList<EEventType>(), new { @class = "form-control"})
        </div>
        <div>
            <input type="text" class="form-control" asp-for="Address" placeholder="Address" />
            <span asp-validation-for="Address"></span>
        </div>
        <div class="container">
            <div>
                <input type="text" asp-for="StartDateTime" class="form-control" id="startDateTimePicker"/>
            </div>
            <script type="text/javascript">
                $(function ()
                {
                    $("#startDateTimePicker").datetimepicker(
                        {
                            showTodayButton: true,
                            format: 'YYYY-MM-DD HH:mm',
                            showClose: true,
                            showClear: true,
                            toolbarPlacement: 'bottom',
                            stepping: 15
                        });
                });
            </script>
        </div>
        <div>
            <textarea class="form-control" rows="10" placeholder="HTML here" asp-for="Page.Html"></textarea>
        </div>
        <br />
        <div>
            <input type="submit" value="Save" class="btn" />
        </div>
    </div>
</form>
