@model ToDo.WebApp.Model.ProjectEditModel
@{
	ViewBag.Title = "Редактировать проект";
}
@using (Html.BeginForm("Edit", "Project", new { Model.Id, Model.Version }, FormMethod.Post))
{ 
	<div>Название: @Html.TextBoxFor(x => x.Name)</div>
	<submit text="сохранить" />
}

@section Scripts {
	<script>
		console.log("@ViewBag.antiforgeryRequestToken");
	</script>
}